@tailwind base;
@tailwind components;
@tailwind utilities;

.main_cover {
    background-image: url("https://ik.imagekit.io/lbxyzo732/assests/close-up-people-graduating.jpg?updatedAt=1736737045581");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px; /* Adjust this height as needed */
  }

  #aboutus-backgrnd {
    background-color: rgb(255, 153, 0);
    height: 25vh;
    z-index: 0; /* Set to a lower value */
    position: absolute; /* Ensure it is positioned correctly */
    
  }
  
  #aboutus-img {
    z-index: 1; /* Set to a higher value */
    position: relative; /* Ensure it is positioned correctly */
  }

  